<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Plate ID</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="plateId" placeholder="Enter plate ID" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input plate ID!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Brand</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="brand" placeholder="Enter brand" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input brand!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Type</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="type" placeholder="Enter type" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input type!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Year</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="year" placeholder="Enter year" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input year!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Status</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="status" placeholder="Enter status" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input status!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Rate</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="rate" placeholder="Enter price per day" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input price per day!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Transmission type</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="transmissionType" placeholder="Enter transmission type" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input transmission type!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Fuel type</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="fuelType" placeholder="Enter fuel type" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input fuel type!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Body stype</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="bodyStyle" placeholder="Enter body stype" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input body stype!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Color</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="color" placeholder="Enter color" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input color!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Capacity</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="capacity" placeholder="Enter capacity" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input capacity!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Image url</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="imageUrl" placeholder="Enter image url" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input image!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Office ID</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="officeId" placeholder="Enter office ID" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input office ID!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
    </nz-form-item>
</form>